.App {
  text-align: center;
}

.App-header {
  background-color: #ccc;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-nav {
  display: flex;
  justify-content: space-around;
}

.App-nav .active {
  font-weight: bold;
}

ul {
  list-style: none;
  -webkit-padding-start: 0;
}
